<form [formGroup]="form">
  <div formArrayName="select">
    <div *ngFor="let selectControl of form.controls.select.controls; let i = index">
      <select [formControlName]="i">
        <option
          value=""
          disabled
        >
          Select an option
        </option>
        <option
          *ngFor="let item of itemsList"
          [value]="item"
        >
          {{ item }}
        </option>
      </select>
    </div>
  </div>

  <button
    type="button"
    (click)="addSelectField()"
  >
    Add Select
  </button>
  <button
    type="button"
    (click)="reset()"
  >
    Reset
  </button>
</form>
