<div class="flex rounded-xl border p-1">
  <div class="mr-4 w-4 border-r"></div>
  <div
    *ngFor="let row of [].constructor(carriage.rows); let rowIndex = index"
    class="flex flex-col-reverse"
  >
    <span
      *ngFor="let seat of [].constructor(carriage.leftSeats); let leftSeatInd = index"
      class="m-1 size-4 rounded-sm bg-gray-300 text-center text-xs"
      >{{ rowIndex * (carriage.leftSeats! + carriage.rightSeats!) + leftSeatInd + 1 }}</span
    >
    <span class="h-5"></span>
    <span
      *ngFor="let seat of [].constructor(carriage.rightSeats); let rightSeatInd = index"
      class="m-1 size-4 rounded-sm bg-gray-300 text-center text-xs"
      >{{ rowIndex * (carriage.rightSeats! + carriage.leftSeats!) + carriage.leftSeats! + rightSeatInd + 1 }}</span
    >
  </div>
</div>
