<div class="bg-gray-100 p-5">
  <mat-expansion-panel #expansionPanel>
    <mat-expansion-panel-header>
      <button
        (click)="toggleCreateForm(expansionPanel)"
        class="block"
      >
        Create
      </button>
    </mat-expansion-panel-header>
    <div
      *ngIf="errorMessage"
      class="font-bold text-red-500"
    >
      {{ errorMessage }}
    </div>
    <form
      (ngSubmit)="onSubmit(expansionPanel)"
      class="mb-5 flex flex-wrap items-center gap-2 bg-white"
      #formContainer
    >
      <mat-form-field>
        <mat-label
          for="name"
          class="mr-1"
          >Name:</mat-label
        >
        <input
          matInput
          [(ngModel)]="carriageForm.name"
          name="name"
          placeholder="Name"
          required
          class="mr-2 rounded-sm bg-gray-100"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label
          for="rows"
          class="mr-1"
          >Rows:</mat-label
        >
        <input
          matInput
          [(ngModel)]="carriageForm.rows"
          name="rows"
          placeholder="Rows"
          type="number"
          min="0"
          required
          class="mr-2 w-9 rounded-sm bg-gray-100"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label
          for="leftSeats"
          class="mr-1"
          >Left Seats:</mat-label
        >
        <input
          matInput
          [(ngModel)]="carriageForm.leftSeats"
          name="leftSeats"
          placeholder="Left Seats"
          type="number"
          min="0"
          required
          class="mr-2 w-9 rounded-sm bg-gray-100"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label
          for="rightSeats"
          class="mr-1"
          >Right Seats:</mat-label
        >
        <input
          matInput
          [(ngModel)]="carriageForm.rightSeats"
          name="rightSeats"
          placeholder="Right Seats"
          type="number"
          min="0"
          required
          class="mr-2 w-9 rounded-sm bg-gray-100"
        />
      </mat-form-field>

      <div class="w-full">
        <button
          mat-flat-button
          type="submit"
          class="my-2 block rounded-sm border border-solid bg-slate-200 p-1 hover:bg-slate-400"
        >
          {{ isEditing ? 'Save changes' : 'Save' }}
        </button>
      </div>

      <app-carriage
        *ngIf="carriageForm.leftSeats || carriageForm.rightSeats"
        [rows]="carriageForm.rows"
        [leftSeats]="carriageForm.leftSeats"
        [rightSeats]="carriageForm.rightSeats"
        class="w-full flex-auto"
      ></app-carriage>
    </form>
  </mat-expansion-panel>

  <div
    *ngFor="let carriage of carriages"
    class="mb-5 rounded-xl bg-white p-2.5"
  >
    <h3 style="font-weight: 700">{{ carriage.name }}</h3>
    <button
      mat-flat-button
      (click)="editCarriage(carriage, expansionPanel)"
      class="my-5 block"
    >
      Update
    </button>
    <div class="flex gap-3">
      <p>Code: {{ carriage.code }}</p>
      <p>Rows: {{ carriage.rows }}</p>
      <p>Left Seats: {{ carriage.leftSeats }}</p>
      <p>Right Seats: {{ carriage.rightSeats }}</p>
    </div>

    <app-carriage
      *ngIf="carriage.leftSeats || carriage.rightSeats"
      [rows]="carriage.rows"
      [leftSeats]="carriage.leftSeats"
      [rightSeats]="carriage.rightSeats"
    ></app-carriage>
  </div>
</div>
