<div
  *ngIf="stations.length > 0"
  class="flex flex-col gap-2"
>
  <div
    *ngFor="let station of paginatedStations"
    class="relative rounded-md border border-gray-400 p-3"
  >
    <h3
      class="capitalize"
      style="font-weight: 700"
    >
      {{ station.city }}
    </h3>
    <p>{{ station.latitude.toPrecision(6) }}, {{ station.longitude.toPrecision(6) }}</p>
    <p>
      <span class="block">Connected to:</span>
      <span *ngFor="let connection of station.connectedTo"> {{ getStationName(connection.id) }}, </span>
    </p>
    <button
      (click)="deleteStation(station.id)"
      class="absolute right-2 top-2"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Delete icon"
        fontIcon="delete"
      ></mat-icon>
    </button>
  </div>
  <div class="mt-5 flex items-center justify-center gap-3">
    <button
      (click)="previousPage()"
      [disabled]="currentPage === 1"
      class="rounded border px-3 py-1 disabled:cursor-default disabled:opacity-50"
    >
      Previous
    </button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button
      (click)="nextPage()"
      [disabled]="currentPage === totalPages"
      class="rounded border px-3 py-1 disabled:cursor-default disabled:opacity-50"
    >
      Next
    </button>
  </div>
</div>
