<ng-container *ngIf="isLoading$ | async; else dataTemplate">
  <mat-spinner [diameter]="70"></mat-spinner>
</ng-container>

<ng-template #dataTemplate>
  <ng-container *ngIf="routes$ | async as data; else notFound">
    <ul class="flex flex-col justify-center gap-3">
      <li *ngFor="let route of data">
        <app-route-card
          (handleUpdate)="handleUpdate.emit($event)"
          [route]="route"
        ></app-route-card>
      </li>
    </ul>
  </ng-container>
</ng-template>

<ng-template #notFound>
  <div>nothing found</div>
</ng-template>
