<mat-card class="m-auto max-w-full">
  <mat-card-header class="flex justify-between">
    <mat-card-title>{{ 'Route' + ' ' + route.id }}</mat-card-title>
    <div class="route__action-buttons">
      <button
        mat-icon-button
        (click)="onUpdate()"
      >
        <mat-icon fontIcon="update"></mat-icon>
        Update
      </button>
      <button
        mat-icon-button
        (click)="onRedirect()"
      >
        <mat-icon fontIcon="directions_bus"></mat-icon>
        Assing ride
      </button>
      <button
        mat-icon-button
        (click)="onDelete()"
      >
        <mat-icon fontIcon="delete"></mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="flex flex-col gap-5">
      <div class="flex flex-col gap-2">
        <mat-card-subtitle> Cities </mat-card-subtitle>
        <ng-container *ngIf="isLoadingStations$ | async; else stationsTemplate">
          <mat-spinner [diameter]="70"></mat-spinner>
        </ng-container>
        <ng-template #stationsTemplate>
          <ng-container *ngIf="stations$ | async as data">
            {{ getStations(data).join(' - ') }}
          </ng-container>
        </ng-template>
      </div>
      <div class="flex flex-col gap-2">
        <mat-card-subtitle> Carrage Type </mat-card-subtitle>
        <ng-container *ngIf="isLoadingCarriages$ | async; else carriagesTemplate">
          <mat-spinner [diameter]="70"></mat-spinner>
        </ng-container>
        <ng-template #carriagesTemplate>
          <ng-container *ngIf="carriages$ | async as data">
            {{ getCarriages(data).join(' - ') }}
          </ng-container>
        </ng-template>
      </div>
    </div>
  </mat-card-content>
</mat-card>
