<ng-container *ngIf="isLoadingCarriages$ | async; else dataTemplate">
  <mat-spinner [diameter]="70"></mat-spinner>
</ng-container>

<ng-template #dataTemplate>
  <ng-container *ngIf="stations$ | async as data; else notFound">
    <ul class="flex flex-wrap justify-center gap-3">
      <li *ngFor="let station of data">
        {{ station.city }}
      </li>
    </ul>
  </ng-container>
</ng-template>

<ng-template #dataTemplate>
  <ng-container *ngIf="carriages$ | async as data; else notFound">
    <ul class="flex flex-wrap justify-center gap-3">
      <li *ngFor="let carriage of data">
        {{ carriage.code }}
      </li>
    </ul>
  </ng-container>
</ng-template>

<ng-template #notFound>
  <div>nothing not found</div>
</ng-template>
