<ng-container *ngIf="isLoadingStations$ | async; else stationsDataTemplate">
  <mat-spinner [diameter]="70"></mat-spinner>
</ng-container>

<ng-container *ngIf="isLoadingCarriages$ | async; else carriagesDataTemplate">
  <mat-spinner [diameter]="70"></mat-spinner>
</ng-container>

<ng-template #stationsDataTemplate>
  <ng-container *ngIf="stations$ | async as data; else notFound">
    <app-stations-form-group
      [stations]="data"
      [selectedStationsIds]="selectedStationsIds"
      (setSelectedStationsIds)="setSelectedStationsIds($event)"
    />
  </ng-container>
</ng-template>

<ng-template #carriagesDataTemplate>
  <ng-container *ngIf="carriages$ | async as data; else notFound">
    <app-carriages-form-group
      [carriages]="data"
      (setSelectedCarriagesCodes)="setSelectedCarriagesCodes($event)"
    />
  </ng-container>
</ng-template>

<ng-template #notFound>
  <div>nothing not found</div>
</ng-template>

<button
  mat-flat-button
  color="primary"
  type="button"
  (click)="onSave()"
>
  Save
</button>
