<div class="w-[500px] p-2">
  <h3
    mat-dialog-title
    style="font-size: 16px; font-weight: 700; border-bottom: 1px solid"
  >
    Route {{ data.routeId }}
  </h3>
  <mat-dialog-content
    *ngIf="events.length"
    class="route-dialog-content"
  >
    <div class="mb-3 mr-3.5 flex justify-end gap-24 text-gray-500">
      <span class="border-b border-gray-400">Time</span>
      <span class="border-b border-gray-400">Station</span>
      <span class="border-b border-gray-400">Stop</span>
    </div>
    <p-timeline [value]="events">
      <ng-template
        pTemplate="marker"
        let-event
      >
        <i
          [class]="event.icon"
          [style.fontSize]="event.icon === 'pi pi-circle' ? '10px' : '20px'"
          [style.color]="event.color"
        ></i>
      </ng-template>
      <ng-template
        pTemplate="opposite"
        let-event
      >
        <small class="p-text-secondary">{{ event.departureTime || '' }}</small>
        <br />
        <small class="p-text-secondary">{{ event.arrivalTime || '' }}</small>
      </ng-template>
      <ng-template
        pTemplate="content"
        let-event
      >
        <div class="flex justify-between">
          <div>{{ event.stationCity }}</div>
          <mat-spinner
            *ngIf="!event.stationCity"
            diameter="15"
          ></mat-spinner>
          <small class="p-text-secondary">{{ event.stop }}</small>
        </div>
      </ng-template>
    </p-timeline>
  </mat-dialog-content>
</div>
