<ng-container *ngIf="isLoading$ | async; else dataTemplate">
  <mat-spinner [diameter]="70"></mat-spinner>
</ng-container>

<ng-template #dataTemplate>
  <ng-container *ngIf="rides$ | async as data; else notFound">
    <ng-container *ngIf="!isCreateSectionOpen; else createSection">
      <button
        mat-flat-button
        color="primary"
        type="button"
        (click)="openCloseCreateSection()"
      >
        Create
      </button>
    </ng-container>
    <ng-template #createSection>
      <ng-container *ngIf="isLoadingCarriages$ | async; else createSectionTemplate">
        <mat-spinner [diameter]="70"></mat-spinner>
      </ng-container>
      <ng-template #createSectionTemplate>
        <ng-container *ngIf="carriages$ | async as carriages; else notFound">
          <app-create-section
            [path]="data.path"
            [schedule]="data.schedule"
            [carriages]="carriages"
            (closeSection)="openCloseCreateSection()"
            (saveRide)="saveRide($event)"
          ></app-create-section>
        </ng-container>
      </ng-template>
    </ng-template>
    <app-ride-list
      [path]="data.path"
      [schedule]="data.schedule"
      (updateRide)="updateRide($event)"
    ></app-ride-list>
  </ng-container>
</ng-template>

<ng-template #notFound>
  <div>nothing not found</div>
</ng-template>
