<mat-list class="flex md:block md:w-min">
  <mat-list-item role="link"
    ><button
      mat-flat-button
      effect="raised"
      color="primary"
      type="button"
      (click)="toCarriages()"
    >
      Carriages
    </button></mat-list-item
  >
  <mat-list-item role="link"
    ><button
      mat-flat-button
      effect="raised"
      color="primary"
      type="button"
      (click)="toStations()"
    >
      Stations
    </button></mat-list-item
  >
  <mat-list-item role="link">
    <button
      mat-flat-button
      effect="raised"
      color="primary"
      type="button"
      (click)="toRoutes()"
    >
      Routes
    </button></mat-list-item
  >
</mat-list>
