<form
  [formGroup]="form"
  class="flex flex-col gap-3"
>
  <mat-form-field *ngFor="let tag of form.controls.select.controls; let i = index">
    <mat-label>Select carriage</mat-label>
    <mat-select (selectionChange)="onChange(i)">
      <mat-option
        *ngFor="let carriages of carriages"
        [value]="carriages.name"
        [id]="carriages.code"
      >
        {{ carriages.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-error>{{ form.controls.select.controls.length < 4 ? 'minimum 3 carriages' : null }}</mat-error>
</form>
