<form [formGroup]="form">
  <div formArrayName="select">
    <div *ngFor="let stations of stationsForSelect; let i = index">
      <select
        [formControlName]="i"
        (change)="onChange($event, i)"
      >
        <option
          value=""
          disabled
        >
          Select an option
        </option>
        <option
          *ngFor="let station of stations"
          [value]="station.city"
          [id]="station.id"
        >
          {{ station.city }}
        </option>
      </select>
    </div>
  </div>
</form>
