<div>
  <div class="w-full border-y border-gray-400 bg-white">
    <div class="mx-auto max-w-6xl px-6">
      <div class="flex items-center gap-3 py-2">
        <button
          mat-icon-button
          class="icon-btn"
          [routerLink]="['/']"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Back icon"
            fontIcon="arrow_back_ios"
            class="icon"
          ></mat-icon>
        </button>
        <div class="trip-info">
          <div class="mb-1 flex gap-2 font-bold">
            <span>{{ getStationName(fromStationId!) }}</span>
            <span *ngIf="rideData">{{ transformDate(rideData.schedule.segments[rideData.path.indexOf(fromStationId!)].time[0]) }}</span>
            <p>&rarr;</p>
            <p>{{ getStationName(toStationId!) }}</p>
            <span *ngIf="rideData">{{ transformDate(rideData.schedule.segments[rideData.path.indexOf(toStationId!) - 1].time[1]) }}</span>
          </div>
          <div class="flex items-baseline gap-2">
            <p class="font-bold">Ride {{ rideId }}</p>
            <div>
              <button
                mat-button
                class="route-btn"
                (click)="openRouteModal()"
              >
                <span>Route</span>
                <mat-icon>expand_more</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-tab-group>
    <div *ngFor="let carriage of listOfCarriages">
      <mat-tab label="{{ carriage.name }}">
        <app-carriage [carriage]="carriage"></app-carriage>
      </mat-tab>
    </div>
  </mat-tab-group>
</div>
